backend/app/__pycache__/crud.cpython-310.pyc
backend/app/__pycache__/database.cpython-310.pyc
backend/app/__pycache__/main.cpython-310.pyc
backend/app/__pycache__/schemas.cpython-310.pyc
backend/app/__pycache__/models.cpython-310.pyc
backend/app/api/__pycache__/vacancies.cpython-310.pyc
backend/celery/__pycache__/celery_app.cpython-310.pyc
backend/app/services/__pycache__/extractor.cpython-310.pyc
backend/celery/__pycache__/tasks.cpython-310.pyc
.env
ai_pipeline/models